In [12]:
a = ['chr1', "chr2", "chr3", "chr11"]

In [2]:
sorted(a)

['chr1', 'chr11', 'chr2', 'chr3']

In [3]:
b = 'chr2'

In [5]:
int(b[-1])

2

In [21]:
def f(x):
    if x[-2] in '0123456789':
        return int(x[-2:])
    return int(x[-1])

In [22]:
b = list(map(f,a))

In [23]:
b

[1, 2, 3, 11]

In [24]:
c = list(zip(b,a))

In [26]:
[x[1] for x in sorted(c)]

['chr1', 'chr2', 'chr3', 'chr11']

In [27]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in ['a', 'b']:
    print (i)

a
b

In [30]:

a=3
while a>0:
    print ("Hello:", a)
    a = a - 1
    # Όταν φτάνειο στο τέλος της λούπας ξαναπάει στη while !!!!

Hello: 3
Hello: 2
Hello: 1

In [31]:
for i in [1,2,3]:

    print (i)

1
2
3

In [33]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [35]:
a=0
while a<10:
    print (a)
    a += 1

0
1
2
3
4
5
6
7
8
9

In [37]:
a=0
while a<10:
    
    if a==5:
        a += 1
        continue
    
    print (a)
    a += 1

0
1
2
3
4
6
7
8
9

In [38]:
a=0
while a<10:
    
    if a==5:
        break
    
    print (a)
    a += 1

0
1
2
3
4

In [41]:
a=0
while a<10:
    
    if a==5:
        break
    
    print (a)
    a += 1
else:
    print ("DEN ekana break")

0
1
2
3
4

In [42]:
a=0
while a<10:
    
    #if a==5:
    #    break
    
    print (a)
    a += 1
else:
    print ("DEN ekana break")

0
1
2
3
4
5
6
7
8
9
DEN ekana break

In [43]:
a=1
for i in range(5):
    a -= 0.1*a
print (a)

0.5904900000000001

In [44]:
height=1
c=0
while height > 0.5:
    height -= 0.1*height
    c = c + 1
    
print(c)

7

In [45]:
print(height)

0.4782969

1+2+3+4+5+6+....

In [47]:
s = 0
current = 0
while s < 1000:
    current += 1
    s += current
    
s

1035

In [49]:
current

45

In [50]:
sum(range(0, 46))

1035

In [51]:
sum(range(0, 45))

990

In [72]:
def is_prime(x):
    
    state = True
    for n in range(2, x):
        if x%n==0:
            state=False
    return state

In [74]:
is_prime(23)

True

In [75]:
is_prime(9)

False

In [78]:
def is_prime(x):
    
    
    for n in range(2, x):
        if x%n==0:
            return False
        
    return True

In [79]:
def is_prime(x):
    
    state = True
    for n in range(2, x):
        if x%n==0:
            state=False
            break
            
    return state

In [83]:
def is_prime_slow(x):
    
    state = True
    for n in range(2, x):
        if x%n==0:
            state=False
    return state

In [89]:
is_prime_slow(100_000_000)

False

In [86]:
def is_prime_fast(x):
    
    state = True
    for n in range(2, x):
        if x%n==0:
            state=False
            break
            
    return state

In [88]:
is_prime_fast(100_000_000)

False

In [90]:
def is_prime_faster(x):
    
    state = True
    for n in range(2, int(x**0.5)+1):
        if x%n==0:
            state=False
            break
            
    return state

In [91]:
# add prime number until the sum is greater than 1000000

s=0
c=1
while s<1_000_000:
    if is_prime_fast(c):
        s += c
    c += 1

In [92]:
s

1001605

In [93]:
c

3944

In [94]:
def f(x):
    return x/2, x*2

In [96]:
a = f(10)

In [97]:
print (a)

(5.0, 20)

In [98]:
type(a)

tuple

In [99]:
b = [5,20]

In [100]:
print (b)

[5, 20]

In [101]:
b[0]=70

In [102]:
print(b)

[70, 20]

In [103]:
a= (5,20)

In [104]:
print (a)

(5, 20)

In [105]:
a[0] = 70

TypeError: 'tuple' object does not support item assignment

In [106]:
a

(5, 20)

In [107]:
a[1]

20

In [108]:
c = a[1]

In [109]:
c += 10

In [110]:
a= [1,2]

In [111]:
b,c = a

In [112]:
b

1

In [113]:
c

2

In [114]:
b,c = (1,2)
print (b)
print (c)

1
2

In [115]:
def f(x):
    return x/2, x*2

In [118]:
a = f(10)
print(a)

(5.0, 20)

In [119]:
a,b = f(10)
print (a)
print (b)

5.0
20

In [120]:
5,

(5,)

In [121]:
a= [1,2,3]
tuple(a)

(1, 2, 3)

In [122]:
a = (1,2,3)
list(a)

[1, 2, 3]

In [123]:
a=['mitsos', 'kostas', 'elenh']
b=[4,6,8]

In [124]:
for i,name in enumerate(a):
    if name=='elenh':
        print (b[i])

8

In [125]:
for thl, name in zip(b,a):
    if name=='elenh':
        print (thl)

8

In [126]:
b[a.index('elenh')]

8

In [127]:
d = {
    "mitsos": 4,
    "kostas": 6,
    "elenh": 8
}

In [128]:
type(d)

dict

In [129]:
d['elenh']

8

In [130]:
len(d)

3

In [131]:
len({})

0

In [133]:
d

{'mitsos': 4, 'kostas': 6, 'elenh': 8}

In [134]:
d['maria'] = 10

In [135]:
len(d)

4

In [136]:
d['maria']

10

In [137]:
del d['kostas']

In [138]:
d

{'mitsos': 4, 'elenh': 8, 'maria': 10}

In [139]:
d['maria'] = 20

In [140]:
d

{'mitsos': 4, 'elenh': 8, 'maria': 20}

In [141]:
d['george'] = {'t': 1}

In [142]:
d

{'mitsos': 4, 'elenh': 8, 'maria': 20, 'george': {'t': 1}}

In [143]:
d[1] = 4

In [144]:
d

{'mitsos': 4, 'elenh': 8, 'maria': 20, 'george': {'t': 1}, 1: 4}

In [145]:
d[False] = "mitsos"

In [146]:
d

{'mitsos': 4,
 'elenh': 8,
 'maria': 20,
 'george': {'t': 1},
 1: 4,
 False: 'mitsos'}

In [147]:
d[5.5] = "kostas"

In [148]:
d[ [4,5] ] = 5

TypeError: unhashable type: 'list'

In [149]:
d[ (4,5) ] = 5

In [150]:
hash('mitsos')

6714401743874183407

In [151]:
hash((5,6,7))

-1350146935415579984

In [152]:
hash('mitsos')

6714401743874183407

In [153]:
d = {
    "mitsos": 4,
    "kostas": 6,
    "elenh": 8
}

In [154]:
'mitsos' in d

True

In [155]:
'george' in d

False

In [157]:
list(d.keys())

['mitsos', 'kostas', 'elenh']

In [158]:
list(d.values())

[4, 6, 8]

In [160]:
6 in d.values()

True

In [161]:
3 in d.values()

False

In [162]:
d = {
    "mitsos": 4,
    "kostas": 6,
    "elenh": 8
}

In [163]:
a = [4,5,6]

for x in a:
    print (x)

4
5
6

In [164]:
d = {
    "mitsos": 4,
    "kostas": 6,
    "elenh": 8
}

for x in d:
    print (x)

mitsos
kostas
elenh

In [165]:
for x in d:
    print (x, d[x])

mitsos 4
kostas 6
elenh 8

In [166]:
for k,v in d.items():
    print (k,v)

mitsos 4
kostas 6
elenh 8

In [167]:
list(d.items())

[('mitsos', 4), ('kostas', 6), ('elenh', 8)]

In [168]:
t = [('mitsos', 4), ('kostas', 6), ('elenh', 8)]

In [169]:
dict(t)

{'mitsos': 4, 'kostas': 6, 'elenh': 8}

In [170]:
dict([5,6,7])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [171]:
a=[5,6,7]

In [172]:
d={}

for x in a:
    d[x] = 2*x
print (d)

{5: 10, 6: 12, 7: 14}

In [173]:
{x:2*x for x in a } # <--- dictionary Comprehenesion

{5: 10, 6: 12, 7: 14}

### sets

In [174]:
a=[1,2,3,2,3,4,3,5,4,6,7,6,5,6,7,8]

In [175]:
set(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [176]:
a = {1,2,3,4,5}

In [177]:
a=set([1,2,3,4,5])

In [178]:
a

{1, 2, 3, 4, 5}

In [179]:
a = {1,2,3,4}
b = {3,4,5,6}

In [180]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [182]:
a | b

{1, 2, 3, 4, 5, 6}

In [185]:
a.intersection(b)

{3, 4}

In [186]:
a & b

{3, 4}

In [187]:
a - b

{1, 2}

In [188]:
b - a

{5, 6}

In [189]:
(a - b)  | (b - a)

{1, 2, 5, 6}

In [190]:
a

{1, 2, 3, 4}

In [191]:
b

{3, 4, 5, 6}

In [192]:
a.add(7)

In [193]:
a

{1, 2, 3, 4, 7}

In [194]:
a - {7}

{1, 2, 3, 4}

In [195]:
len(a)

5

In [197]:
len(set())

0

In [198]:
a = {1,2}

In [199]:
a = set()

In [200]:
a

set()

In [201]:
a = {1, 2, 3, 4, 7}

In [203]:
for x in a:
    print (x)

1
2
3
4
7

In [204]:
list(a)

[1, 2, 3, 4, 7]

In [205]:
set('alskdjfhasdlkjfhgaslkdjfghsdlkjfghsldkfghsdlkfjghsldkfjghaldkfgh')

{'a', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 's'}

In [206]:
[x%4 for x in range(10)]

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1]

In [207]:
{x%4 for x in range(10)}

{0, 1, 2, 3}

In [208]:
set([x%4 for x in range(10)])

{0, 1, 2, 3}

In [209]:
a=[1,2,3,2,3,4,3,4,5,4,6,7,8,7,8,9,8,7,6,5,3,2]

In [217]:
d = {}
for x in a:
    if not x in d:
        d[x]=0
        
    d[x] += 1

print (d)

{1: 1, 2: 3, 3: 4, 4: 3, 5: 2, 6: 2, 7: 3, 8: 3, 9: 1}

In [214]:
d[100]

KeyError: 100

In [215]:
100 in d

False

In [216]:
d.get(100, "mitsos")

'mitsos'

In [218]:
d.get(7, "mitsos")

3

In [219]:
a = {4,5,6,7,7}

In [220]:
sorted(a)

[4, 5, 6, 7]

In [221]:
a.sort()

AttributeError: 'set' object has no attribute 'sort'

In [222]:
sorted(set("s.,djgfhaslkdjghfaslekgfjW;LKDJGHjrihtarejKRJFGHLSKDRFGJSLKDFJGHLS;DKFGJH"))

[',',
 '.',
 ';',
 'D',
 'F',
 'G',
 'H',
 'J',
 'K',
 'L',
 'R',
 'S',
 'W',
 'a',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'r',
 's',
 't']

In [223]:
set('mitsos')

{'i', 'm', 'o', 's', 't'}

In [225]:
a=[5,6,4,7,3,8,5,7,]

In [226]:
a = [[1,2,3], [6,5,6,7,], [3,2]]

In [228]:
a.index([3,2])

2

In [229]:
pop_A = [
	['M1', 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 2, 1, 0, 1, 1, 1, 0, 1],
	['M2', 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 1, 0],
	['M3', 1, 1, 1, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 2, 1],
	['M4', 1, 1, 0, 0, 0, 0, 1, 2, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
	['M5', 0, 0, 2, 2, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 2, 0, 2],
	['M6', 0, 0, 1, 0, 2, 0, 0, 0, 1, 1, 2, 2, 2, 0, 0, 0, 1, 0, 0, 0],
	['M7', 0, 0, 2, 1, 1, 1, 0, 2, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0],
	['M8', 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 0, 0, 2],
	['M9', 0, 0, 1, 0, 0, 1, 2, 1, 0, 0, 1, 1, 1, 1, 0, 2, 1, 0, 2, 1],
	['M10', 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1]
]

In [233]:
max([ (x[1:].count(2),x[0] ) for x in pop_A])[1]

'M6'

In [235]:

m = 0

for x in pop_A:
    c = x[1:].count(2)
    if c >= m:
        m = c
        name = x[0]
print (name)

M6